

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}


.track-line{
    -fx-padding: 0;
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 5;
    -fx-border-color: black;
}

.grid {
    -fx-background-color: transparent,
            linear-gradient(from 0px 0px to 50px 0px, repeat, black 1%, transparent 1%);
}

.options-box{
    -fx-background-color: lightgray;
}