

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-radius: 5em;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.track-line{
    -fx-padding: 0;
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 5;
    -fx-border-color: black;
}

.grid {
    -fx-background-color: transparent,
            linear-gradient(from 0px 0px to 50px 0px, repeat, black 1%, transparent 1%);
}

.options-box{
    -fx-background-color: lightgray;


}

.back-pane {
    -fx-background-color: transparent;
}

.saved-effects {
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.directory {
    -fx-background-color: darkgray;
    -fx-border-insets: 0;
    -fx-border-width: 2px;
    -fx-border-color: gray lightgray lightgray gray;
}

.button {
    -fx-fill-color: red;
    -fx-effect: dropshadow(gaussian, darkgray, 2, 0, 0, 0);
}